simpleemailv2 not exposing Source

Currently in the simpleemailv2 the Source property on SendEmailRequest is not available.

Original:
https://docs.aws.amazon.com/sdkfornet/v3/apidocs/items/SimpleEmailV2/TSendEmailRequest.html

v2:
https://docs.aws.amazon.com/sdkfornet/v3/apidocs/items/SimpleEmailV2/TSendEmailRequest.html

Currently there is no way to specify the from name in an email request with v2.


Hi @rogerfar,

Good morning.

If you look at the code for [SendEmailRequest](https://github.com/aws/aws-sdk-net/blob/de74d6ab1334cfbd3452a70fbdba8317d5e9f2e6/sdk/src/Services/SimpleEmailV2/Generated/Model/SendEmailRequest.cs#L56), there is a property named [FromEmailAddress](https://github.com/aws/aws-sdk-net/blob/de74d6ab1334cfbd3452a70fbdba8317d5e9f2e6/sdk/src/Services/SimpleEmailV2/Generated/Model/SendEmailRequest.cs#L201). Could you please share your environment information in the following format if this is still an issue in the latest AWS .NET SDK along with the code snippet?

<!--- Provide a general summary of the issue in the Title above -->

## Expected Behavior
<!--- If you're describing a bug, tell us what should happen -->
<!--- If you're suggesting a change/improvement, tell us how it should work -->

## Current Behavior
<!--- If describing a bug, tell us what happens instead of the expected behavior -->
<!--- Include full errors, uncaught exceptions, stack traces, and relevant logs -->
<!--- To turn on SDK logging, follow instructions provided [here][logging] -->
<!--- If service responses are relevant, please include Fiddler-captured wirelogs -->
<!--- If suggesting a change/improvement, explain the difference from current behavior -->

## Possible Solution
<!--- Not required, but suggest a fix/reason for the bug, -->
<!--- or ideas how to implement the addition or change -->

## Steps to Reproduce (for bugs)
<!--- Provide a self-contained, concise snippet of code that can be inserted into a -->
<!--- basic .NET console application to replicate the bug -->
<!--- For more complex issues provide a repo with the smallest sample that reproduces the bug -->
<!--- Including business logic or unrelated code makes diagnosis more difficult -->

## Context
<!--- How has this issue affected you? What are you trying to accomplish? -->
<!--- Providing context helps us come up with a solution that is most useful in the real world -->

## Your Environment
<!--- Include as many relevant details about the environment where the bug was discovered -->
* AWSSDK.Core version used: 
* Service assembly and version used: 
* Operating System and version: 
* Visual Studio version: 
* Targeted .NET platform: 

## .NET Core Info
<!--- For .NET Core issues, please provide the following -->
* .NET Core version used for development: 
* .NET Core version installed in the environment where application runs: 
* Output of `dotnet --info`: 
* Contents of project.json/project.csproj: 

Thanks,
Ashish

Hello Ashish,

That is correct, but where do I specify the **name**? Before you could set the `source` property to: `My Name <name@domain.com>`, in v2 there is no option to specify the name.

@rogerfar Could you please confirm if using the same format in FromEmailAddress property works? If not, we might need to seek inputs from SES V2 support to provide input since this property is limited by the Service API.

Thanks,
Ashish

Yes this seems to be the case.

When I set the same format in the `FromEmailAddress` field it will accept the `My Name <name@domain.com>` format.

This is not clear from documentation though.

The v2 docs state for `FromEmailAddress`:

> Gets and sets the property FromEmailAddress.The email address that you want to use as the "From" address for the email. The address that you specify has to be verified.

The v1 docs state for `Source`:
> The email address that is sending the email. This email address must be either individually verified with Amazon SES, or from a domain that has been verified with Amazon SES. For information about verifying identities, see the Amazon SES Developer Guide.If you are sending on behalf of another user and have been permitted to do so by a sending authorization policy, then you must also specify the SourceArn parameter. For more information about sending authorization, see the Amazon SES Developer Guide.Amazon SES does not support the SMTPUTF8 extension, as described in RFC6531. For this reason, the local part of a source email address (the part of the email address that precedes the @ sign) may only contain 7-bit ASCII characters. If the domain part of an address (the part after the @ sign) contains non-ASCII characters, they must be encoded using Punycode, as described in RFC3492. The sender name (also known as the friendly name) may contain non-ASCII characters. These characters must be encoded using MIME encoded-word syntax, as described in RFC 2047. MIME encoded-word syntax uses the following form: =?charset?encoding?encoded-text?=.


The latter explicitly mentions the "friend name" part of the email can be added, but does it not present in the v2 documentation.




@rogerfar Thanks for confirming the issue. I will close this issue. Please use the "Provide Feedback" link on the bottom of the documentation page to submit your feedback to add such a note in the new documentation.