S3 Select with limit/offset

Can I request to add offset/limit in S3 Select?

I was querying a simple CSV file and it seems S3 Select doesn't support offset?

SELECT * from s3object s limit 5, 10 

![image](https://user-images.githubusercontent.com/6106479/89755840-68061980-dafe-11ea-8960-51128cdacec6.png)

If that's true - It's not really useful feature for production if we can't query a large CSV file with offset/limit. Because let's say if I want to read the rows 50001-50100 then I'd need to read all 50k rows...which will cost unnecessary read/scan on my AWS bill and slow processing.



S3 Select is not intended as a SQL replacement for small datasets. Rather it is a way to aggregate large volumes of data close to the data source. 

That said, you can select a smaller chunk of the file based on byte location to work through. Or you can partition your csv into multiple files based on some key value to achieve your goal.

As per the documentation:
https://docs.aws.amazon.com/AmazonS3/latest/API/API_SelectObjectContent.html

ScanRange
Specifies the byte range of the object to get the records from. A record is processed when its first byte is contained by the range. This parameter is optional, but when specified, it must not be empty. See RFC 2616, Section 14.35.1 about how to specify the start and end of the range.

ScanRangemay be used in the following ways:

<scanrange><start>50</start><end>100</end></scanrange> - process only the records starting between the bytes 50 and 100 (inclusive, counting from zero)

<scanrange><start>50</start></scanrange> - process only the records starting after the byte 50

<scanrange><end>50</end></scanrange> - process only the records within the last 50 bytes of the file.

Type: ScanRange data type

Required: No

Hi, I found the lack of an OFFSET parameter a huge limitation, because the SELECT has a limit of 1 Mb of the returned records, and the only way to deal whit this limit is paginating the results when the OFFSET and LIMIT are required.

>SELECT has a limit of 1 Mb of the returned records, and the only way to deal whit this limit is paginating the results when the OFFSET and LIMIT are required.

I wanted to quickly clarify the 1MB limit for S3 Select for anyone who may be encountering this limit today.

This limit applies to the input file at a per-record level, and `LIMIT` or a future `OFFSET` keyword would not help in this instance. **To address this, the size of the individual records in the input file must not exceed 1 MB.**

More details on S3 Select requirements and limits can be found in the Amazon S3 documentation: https://docs.aws.amazon.com/AmazonS3/latest/userguide/selecting-content-from-objects.html#selecting-content-from-objects-requirements-and-limits

@dannycjones could you provide some insights into why there's such limitation of input record size? Also, are there any alternatives to S3 Select in cases where we have a large (tens of MBs gzipped), deeply nested JSON, that we would like to filter based on some top-level keys, ideally as close to the source as possible?

> could you provide some insights into why there's such limitation of input record size?

Regarding the limitation on input record size: S3 Select is streaming your S3 object and performing query evaluation on the fly before returning the content to your SDK - the input record size limit is to protect the request against unbounded loading of data.

---

> we have a large (tens of MBs gzipped), deeply nested JSON, that we would like to filter based on some top-level keys, ideally as close to the source as possible?

For this case I think the SQL FROM statement can be adjusted to treat a nested field as individual records, which can help avoid the OverMaxRecordSize limit. Consider the example below.

```json
{
    "data": [
        {
            "key1": "... long text around 1M char ..."
        },
        {
            "key2": "... long text around 1M char ..."
        }
    ],
    "metadata": "yyyyyyyy"
}
```

In this instance, we could use a query like `SELECT * FROM s3object[*].data[*] s` and S3 Select would then treat each field within `data` array as an individual record, and ignore the `metadata` field. It would output:

```json
{
  "key1": "... long text around 1M char ..."
}
{
  "key2": "... long text around 1M char ..."
}
```

There's more information in the examples for the `FROM` keyword here: https://docs.aws.amazon.com/AmazonS3/latest/userguide/s3-glacier-select-sql-reference-select.html#s3-glacier-select-sql-reference-from

---

Hope this helps, @tlinhart!

Thanks @dannycjones, much appreciated! I've already tackled the options you mentioned and the one that is closest to our use case and requirements is the S3 Object Lambda.